
:root {
    --primary-color: #fff;
    --secondary-color: rgb(24, 24, 24);
    /* Dark blue-gray */
    --color-heading: #fff;
    --color-menu:rgba(173, 172, 172, 0.16);
}

/*typography*/
html {
    font-size: 62.5%;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    font-family: inter, arial, Arial, Helvetica, sans-serif;
    font-size: 1rem;

}

h1,
h2,
h3 {
    color: var(--color-heading);

}

h3 {
    font-size: 1.7rem;

}


/*header*/
header {
    background: url(../images/hero.background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    



}

.wrap-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1rem;
    


}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 100%;

}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: none;
    border: none;
    height: 30px;
    width: 38px;
    box-sizing: border-box;
    cursor: pointer;
    
}


.hamburger-menu span {
    background: var(--primary-color);
    width: 100%;
    height: 3px;
    margin-bottom: 6px;
}

.menu {
    display: none;
    position: absolute;
    top: 65px;
    background-color: var(--secondary-color);
    height: auto;
    width: 100%;
    z-index: 10;
    right: 0.1rem;
    
}

.menu ul {
    list-style: none;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 3rem;

}

.menu li {
    padding-bottom: 2.5rem;
}

li a {
    text-decoration: none;
    color: var(--primary-color);
}

.menu.active {
    display: block;
}

.hamburger-menu.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;

}

.hamburger-menu.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.role-name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-heading);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
}

.my-role-con,
.my-name-con {
    margin-bottom: 0;
}

.my-role {
    margin-bottom: 0;
}

.my-name {
    font-size: 2.5rem;
    margin-top: 0;
}

/* Main*/
.aboutme-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.line{
    margin-top: 1rem;
    margin-bottom: 0;
    height: 2px;
    background-color: black;
    width: 15%;
}

.aboutme,
.Projects{
    margin-top: 1rem;
    color:black;
    margin-bottom: 0;
}

.tagline{
    font-size: 2rem;
    padding:0 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
}
.tagline-notes{
    font-size: 1.5rem;
    padding: 1rem 2rem;  
}
.moving-roles{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    overflow:hidden; 
    
}


.uiux-role,
.frontend-role
{
    font-size: 1.5rem;
    padding: 0 2rem;
    margin-bottom: 0;
    flex-shrink: 0;
    padding: 1rem;
    text-align: left;
    
}

.uiux-name,
.frontend-name{
     font-size: 2rem;
     padding: 0 2rem;
     margin-top: 1rem; 
    flex-shrink: 0;
    padding: 1rem;
    text-align: left;   
}


@keyframes slide-in-right {
    0% {
        transform: translateX(-100%);   
    }

    100%{
        transform: translateX(100vw);    
    }
}


.slide-in-right{
    animation: slide-in-right 7s linear infinite;
    
}



@media screen and (max-width:600px) {
body{
    width: 100%;
    
}

body.menu-open{
    overflow: hidden;
}

    header {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .wrap-header {
        width: 97%;
        position: fixed;
        z-index: 100;

    }

    .menu {
        min-height: 97%;
        height: auto;
        position: fixed; 
    
    }

    
    .menu li:nth-child(5) {
        display: none;
    }

    .my-role {
        font-size: 1.5rem;
    }

    .role-name-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 230px;

    }

    


}


@media screen and (min-width:768px) {
     body {
        font-size: 1.5rem;
        height: 90vh;
        overflow-x: hidden;
    }


    h3 {
        font-size: 2rem;
    }

   .hamburger-menu{
    display: none;
   }

   header{
    overflow: hidden;
   }

     .wrap-header {
        width: 100%;
        position: static;
        background: none;
    }


    .role-name-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-heading);
        position: static;
        margin-top:56vh;
        margin-bottom: 0.5rem;
        padding: 2rem;
    }


    .my-role {
        font-size: 1.6rem;
        margin-bottom: 0;

    }

    .my-name {
        font-size: 7rem;
        margin-top: 0;
         letter-spacing:5px;
    }


    .menu {
        display: block;
        position: static;
        height: 50px;
        width: 50%;
        border-radius: 1rem;
        background-color:rgba(173, 172, 172, 0.16);
        margin-top: 0.5rem;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        transform: none !important;
        transition: none !important;
        animation: none !important;
        margin-bottom: 2rem;

    }


    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;

    }

    .menu li {
        padding: 0 1rem;
    }

    .menu li a {
        font-size: 2rem;
        color: black;
       
    }

    .menu li:nth-child(4) {
        display: none;
    }


 .aboutme{
    margin-bottom: 6rem;
 }
 
 
 .uiux-name,
.frontend-name{
        min-width: 300px;
        flex-shrink: 0;


}
    .tags{
        display: grid;
        grid-template-columns:55% 45% ; 
        overflow: hidden;
    }

    .tags-con{
        margin-left: 1rem;
    }


.line-straight{
    border: 1px solid black;
    height: 100%;
    margin-left: -1rem;
}
.tagline{
    font-size: 3rem;
}
.tagline-notes{
    font-size: 2.5rem;
}

.uiux-role,
.frontend-role{
    font-size: 2.5rem;
}

.uiux-name,
.frontend-name{
    font-size: 3rem;
}
}




@media screen and (min-width:1024px) {
     body {
        font-size: 1.5rem;
        height: 90vh;
    }


    h3 {
        font-size: 2rem;
    }



   
    header {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        width: 100%;
        overflow: hidden;
    }


    .logo{
    margin-top:0;
    }

    

    .hamburger-menu {
        display: none;
    }

    .wrap-header {
        width: 100%;
        background: none;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;

    }


    .role-name-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-heading);
        position: static;
        margin-top:21vh;
        margin-bottom: 0.5rem;
        padding: 2rem;

    
    }


    .my-role {
        font-size: 1.6rem;
        margin-bottom: 0;
        margin-top: 9rem;
    }

    .my-name {
        font-size: 8rem;
        margin-top: 0;
         letter-spacing:5px;
    }


    .menu {
        display: block;
        position: static;
        height: 50px;
        width: 45%;
        border-radius: 1rem;
        background-color:rgba(173, 172, 172, 0.16);
        margin-top: -4.5rem;
        margin-bottom: 9rem;
        margin-right: auto;
        margin-left: auto;
        transform: none !important;
        transition: none !important;
        animation: none !important;
        margin-bottom: 9rem;
        box-sizing: border-box;

    }


    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 1rem;
        margin-top: 2rem 2rem;
    }

    .menu li {
        padding: 0 1rem;
        
    }

    .menu li a {
        font-size: 2rem;
        color:white;
       
    }

    .menu li:nth-child(4) {
        display: none;
    }

.tagline{
    font-size: 1.5rem;
}
.tagline-notes{
    font-size: 1.4rem;
}

.uiux-role,
.frontend-role{
    font-size: 2.2rem;
}

.uiux-name,
.frontend-name{
    font-size: 2.7rem;
}


}



