:root{
    --primary-color:black;
    --secondary-color:#ddd623;
    --color-heading:#fff;
}

/*typography*/
html{
    font-size: 62.5%;
    line-height: 1.5;
}

body{
    font-family:inter, arial,Arial, Helvetica, sans-serif ;
    font-size: 1rem;

}
h1,h2,h2{
    color:var(--color-heading);

}
h3{
    font-size: 1.7rem;
    
}
@media screen and (min-width:1024px) {
    
    body{
        font-size: 1.5rem;
    }

h3{
    font-size: 2rem;
}



}


