:root{
    --primary-color:#fff;
    --secondary-color:#222831; /* Dark blue-gray */
    --color-heading:#fff;
}

/*typography*/
html{
    font-size: 62.5%;
    line-height: 1.5;
}

body{
    font-family:inter, arial,Arial, Helvetica, sans-serif ;
    font-size: 1rem;
    
}
h1,h2,h2{
    color:var(--color-heading);

}
h3{
    font-size: 1.7rem;
    
}
@media screen and (min-width:1024px) {
    
    body{
        font-size: 1.5rem;
    }

h3{
    font-size: 2rem;
}

}

/*header*/
header{
    background: url(../images/hero.background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 570px;
    display: flex;
    flex-direction: column;
    
    
    
}

.wrap-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:var(--secondary-color);
    padding: 1rem;
    
}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 100%;

}

.hamburger-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: none;
    border: none;
    height: 30px;
    width: 38px;
}

.hamburger-menu span{
    background: var(--primary-color);
    width: 100%;
    height: 3px;    
    
}

.menu{
    display: none;
    position: absolute;
    top: 65px;
    background-color:var(--secondary-color);
    height: 500px;
     width: 100%;
    z-index: 10; 
     right: 0.1rem;

}

.menu ul{
    list-style: none;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 3rem;
    
}
.menu li{
    padding-bottom: 2.5rem;
}
li a{
    text-decoration: none;
    color: var(--primary-color);
}

.menu.active{
    display: block;
}
.hamburger-menu.active span:nth-child(1){
    transform: translateY(8px) rotate(45deg); 
}

.hamburger-menu.active span:nth-child(2){
opacity: 0;    

}

.hamburger-menu.active span:nth-child(3){
    transform: translateY(-10px) rotate(-45deg); 
}

.role-name-wrapper{
    align-self: center;
    color: var(--color-heading);
    margin-top: 22rem;
    z-index: 1;
}

.my-name{
    font-size: 2rem;
    padding-left: 12rem;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.my-role, .my-name {
  animation: float 2.5s ease-in-out infinite;
}
