<header>
    <div class="wrap-header ">
        <div class="logo-con">
        <img class="logo" src="images/IMG-20240730-WA0314.jpg" alt="my logo">
    </div>
    <button class="hamburger-menu" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
   <nav class="menu animate__animated animate__slideInDown" id="menu">
    <ul>
        <li><a href="">Kudus</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Tools</a></li>
    </ul>
   </nav> 
    
</div>

<div class="role-name-wrapper">
    <div class="my-role-con">
<h3 class="my-role">UI/UX DESIGNER & A FRONTEND DEVELOPER</h3>
</div>

<div class="my-name-con">
        <p class="my-name">Kudus Yusuf</p>
    </div>

</div>

</header>
